.form {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.iconSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .spinner {
    font-size: 2rem; 
    color: #007bff;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

