@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prociono&family=Roboto+Slab:wght@100..900&display=swap');

.textContainer {
    display: flex;
    width: 50%;
    text-align: left;
    margin-left: 600px;
    margin-top: -30px;
}

.container{
    background-color: gold; /* Replace with your desired color */
    padding: 20px
}

.title {
    font-size: 46px;
    font-family: "Roboto Slab", serif; 
    position: relative;
    top: 45px;
    font-weight: 500;
    margin-left: 40px;
}

.text {
    margin-top : 20px;
    font-weight: 400;
    font-family: "Roboto Slab", serif; 
    line-height: 1.6;
    max-height: 100%;
    
}