.container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 60px;
    min-height: 350px; 
    margin-top: 110px;
    gap: 90px;
    background-color: black;
    color: #fff; 
}

.titleAddress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin-top: -90px;
}

.address {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text {
    font-family: "Roboto Slab", serif;
    font-size: 18px;
}


.img {
    margin-top: -90px;
    margin-left: -80px;
    flex: 1; 
    text-align: center; 
    
}

.logoImg {
    max-width: 120px; 
    height: auto;
}

.media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: -90px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    gap: 15px;
    
}

.name {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
}

.follow {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
}

a {
    color: #fff; 
    text-decoration: underline;
    font-family: "Roboto Slab", serif;
}

@media (max-width: 767px) {

    .container {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        flex-wrap: wrap;
        padding: 110px;
        min-height: 350px; 
        margin-top: 110px;
        gap: 90px;
        background-color: black;
        color: #fff; 
    }

    .follow {
        font-family: "Roboto Slab", serif;
        font-size: 20px;

        margin-top: 20px;
    }
}


